<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto G1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/auth.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    @{
        bool hideNavbar = ViewContext.RouteData.Values["controller"].ToString() == "Auth" &&
                          (ViewContext.RouteData.Values["action"].ToString() == "Login" ||
                           ViewContext.RouteData.Values["action"].ToString() == "Register");
    }

    @RenderBody()

    @if (Session["UserID"] != null)
    {
        <footer class="app-footer">
            <p>&copy; @DateTime.Now.Year - Proyecto G1</p>
        </footer>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>